* {
	text-align:center; 
	color:white; }
body {
	background-image:url("bg.jpg");
	background-size: 100% 100%;
	width: 964px;
	margin: 35px auto;
	border:  3px solid white; }
header { 
    padding: 30px 0;
	width: 964px;
	height: 100px;
    background-color: #262626;
	opacity: 0.85;
    font-size:48.0pt; }
nav {
	width: 180px;
	height: 400px;
	float: left;
	border-right: 2px solid white; 
	background-color: #262626;
	opacity: 0.85;}
section {
	width: 600px;
	height: 400px;
	float: left; 
    background-color: #262626;
	opacity: 0.85;}
aside {
	width: 180px;
	height: 400px;
	float: right;
	border-left: 2px solid white; 
	background-color: #262626;
	opacity: 0.85;}
img { float:left; }
footer{ 
	width: 964px;
	height: 382px; }
.audio { 
	text-align:left;
	clear:both; }
